QWidget {
    background-color: qlineargradient(spread:pad, x1:0.303483, y1:0, x2:0.751, y2:1, stop:0 rgba(238, 238, 238, 255), stop:1 rgba(188, 188, 188, 255));
}

QPushButton {
    background-color: rgb(153,153,153);
    color: rgb(243,246,244);
    border-color: rgb(148, 148, 148);
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    font:"Yu Gothic UI Semilight";
    font-size: 16pt;
}

QPushButton#b_finance {
    background-color: rgb(91,91,91);
    color: rgb(243,246,244);
    border-color: rgb(86, 86, 86);
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    font-size: 16pt;
    font:"Yu Gothic UI Semilight";
}

QPushButton#b_memory {
    background-color: rgb(91,91,91);
    color: rgb(243,246,244);
    border-color: rgb(86, 86, 86);
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    font-size: 14pt;
    font:"Yu Gothic UI Semilight";
}

QPushButton:hover {
    background-color: rgb(168, 168, 168);
    border-color: rgb(74, 74, 74)
}

QPushButton#b_memory:hover, QPushButton#b_finance:hover {
    background-color: rgb(106, 106, 106);
    border-color: rgb(53, 53, 53)
}

QLabel#lb_quote {
    background-color: none;
    font: 75 14pt "MS Shell Dlg 2";
    font: bold;
    font-size: 14pt;
}