QWidget {
    background-color: qlineargradient(spread:pad, x1:0.303483, y1:0, x2:0.751, y2:1, stop:0 rgba(238, 238, 238, 255), stop:1 rgba(188, 188, 188, 255));
}

QPushButton {
    background-color: rgb(91,91,91);
    color: rgb(243,246,244);
    border-color: rgb(86, 86, 86);
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    font-size: 10pt;
    font:"Yu Gothic UI Semilight";
}

QPushButton:hover {
    background-color: rgb(106, 106, 106);
    border-color: rgb(53, 53, 53)
}

QLineEdit {
    background-color: rgb(238,238,238);
    font: 63 9pt "Yu Gothic UI Semibold";
    border-color: rgb(93, 93, 93);
    border-style: outset;
    border-width: 3px;
    border-radius: 10px; 
}

QLabel {
    background-color: none;
    font: 63 8pt "Yu Gothic UI Semibold";
}

QLabel#lb_newTrans {
    background-color: none;
    font: 63 14pt "Yu Gothic UI Semibold";
}

QDateEdit {
    background-color: rgb(238,238,238);
    font: 63 9pt "Yu Gothic UI Semibold";
    border-color: rgb(93, 93, 93);
    border-style: outset;
    border-width: 3px;
    border-radius: 5px;
}

QComboBox {
    background-color: rgb(238,238,238);
    selection-background-color: rgb(168, 168, 168);
    font: 63 9pt "Yu Gothic UI Semibold";
    border-color: rgb(93, 93, 93);
    border-style: outset;
    border-width: 3px;
    border-radius: 5px;
    padding-left: 10px;
}

QComboBox:hover {
    background-color: rgb(253, 253, 253);
    border-color: rgb(60, 60, 60);
}

QComboBox:on {
    background-color: rgb(213, 213, 213);
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    border-color: rgb(74, 74, 74)
}

QComboBox QAbstractItemView {
    background-color: rgb(238,238,238);
    font: 63 10pt "Yu Gothic UI Semibold";
    border-style: solid;
    border-width: 5px;
    border-color: rgb(74, 74, 74)
}

QComboBox::item {
    font: bold
}

QComboBox::item:hover {
    background-color: rgba(200, 200, 200, 0.75);
    border: none;
}

QComboBox::item:selected {
    background-color: rgba(168, 168, 168, 0.55);
    border: none;
}